[package]
name = "bootloader"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
uefi = { version = "0.19", features = ["alloc"] }
uefi-services = "0.16"
uefi-macros = "0.10.0"
